In [1]:
from sqlalchemy import create_engine
import pandas as pd

# Connexion
engine = create_engine("postgresql://datanalyst:AVNS_iRGWt6_LRkZk6w7ggUh@pg-2b8f58a-maad-733a.i.aivencloud.com:20738/defaultdb?sslmode=require")

# Chargement
tracking = pd.read_sql("SELECT * FROM tracking_presence", engine)
produits = pd.read_sql("SELECT * FROM produits", engine)
point_ventes = pd.read_sql("SELECT * FROM points_de_vente", engine)

In [2]:
tracking.head(3)

,id,visit_id,product_id,value,created_on,id_point_de_vente,segment
0,140000,5006509,1,False,2025-05-07 08:43:06.467332,DQ24J,Soda PET PM
1,140001,5006509,2,False,2025-05-07 08:43:06.526433,DQ24J,Soda PET PM
2,140002,5006509,3,False,2025-05-07 08:43:06.541754,DQ24J,Soda PET PM

In [3]:
tracking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 100000 non-null  int64
 1   visit_id           100000 non-null  int64
 2   product_id         100000 non-null  int64
 3   value              100000 non-null  bool
 4   created_on         100000 non-null  datetime64[ns]
 5   id_point_de_vente  100000 non-null  object
 6   segment            100000 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(3), object(2)
memory usage: 4.7+ MB

In [4]:
produits.head(3)

   id                                 nom   marque              date_creation
0   1    Jus Pressea Brique Orange 1L x12  Pressea 2020-09-14 14:32:46.099565
1   2    Jus Pressea Brique Goyave 1L x12  Pressea 2020-09-14 14:32:46.102165
2   3  Jus Pressea Brique Cocktail 1L x12  Pressea 2020-09-14 14:32:46.104818

In [5]:
produits.shape

(334, 4)

In [6]:
produits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             334 non-null    int64
 1   nom            334 non-null    object
 2   marque         334 non-null    object
 3   date_creation  334 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 10.6+ KB

In [7]:
point_ventes.head(3)

   id      nom                     zone   latitude  longitude date_ouverture
0   2  105.067  DIAMAGUENE/SICAP M''BAO  14.753705 -17.352372     2023-11-23
1   3  105.137  DIAMAGUENE/SICAP M''BAO  14.749088 -17.352144     2023-11-23
2   4  105.144                     YOFF  14.753212 -17.469422     2023-10-27

In [8]:
point_ventes.shape

(994, 6)

In [9]:
point_ventes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 994 entries, 0 to 993
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              994 non-null    int64
 1   nom             994 non-null    object
 2   zone            958 non-null    object
 3   latitude        948 non-null    float64
 4   longitude       948 non-null    float64
 5   date_ouverture  958 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 46.7+ KB

In [13]:
# Fusion tracking + produits
df = tracking.merge(produits, how='left',left_on='product_id',right_on='id',suffixes=('', '_produit'))

# Supprimer la colonne 'id' du produit si redondante (elle est la même que product_id)
df.drop(columns=['id'], inplace=True) 

# Convertir les deux colonnes en str AVANT le merge
df['id_point_de_vente'] = df['id_point_de_vente'].astype(str)
point_ventes['id'] = point_ventes['id'].astype(str)
# renommer la variable id en id_tracking
df.rename(columns={'id': 'id_tracking'}, inplace=True)
# renommer la variable nom en nom_produit
df.rename(columns={'nom': 'nom_produit'}, inplace=True)


#Fusion avec les points de vente
df = df.merge(
    point_ventes,
    how='left',
    left_on='id_point_de_vente',
    right_on='nom',
    suffixes=('', '_point_vente')
)

# Supprimer la colonne 'id' du point de vente si redondante
df.drop(columns=['id'], inplace=True)

# Vérifier
print(df.columns)
print(df.head())

Index(['visit_id', 'product_id', 'value', 'created_on', 'id_point_de_vente',
       'segment', 'id_produit', 'nom_produit', 'marque', 'date_creation',
       'nom', 'zone', 'latitude', 'longitude', 'date_ouverture'],
      dtype='object')
   visit_id  product_id  value                 created_on id_point_de_vente  \
0   5006509           1  False 2025-05-07 08:43:06.467332             DQ24J
1   5006509           2  False 2025-05-07 08:43:06.526433             DQ24J
2   5006509           3  False 2025-05-07 08:43:06.541754             DQ24J
3   5006509           4  False 2025-05-07 08:43:06.554574             DQ24J
4   5006509           5  False 2025-05-07 08:43:06.581863             DQ24J

       segment  id_produit                            nom_produit   marque  \
0  Soda PET PM           1       Jus Pressea Brique Orange 1L x12  Pressea
1  Soda PET PM           2       Jus Pressea Brique Goyave 1L x12  Pressea
2  Soda PET PM           3     Jus Pressea Brique Cocktail 1L x12  Pressea
3  Soda PET PM           4       Jus Pressea Brique Mangue 1L x12  Pressea
4  Soda PET PM           5  Jus Pressea Brique Coco Ananas 1L x12  Pressea

               date_creation    nom       zone   latitude  longitude  \
0 2020-09-14 14:32:46.099565  DQ24J  DIACK SAO  14.751367 -17.367874
1 2020-09-14 14:32:46.102165  DQ24J  DIACK SAO  14.751367 -17.367874
2 2020-09-14 14:32:46.104818  DQ24J  DIACK SAO  14.751367 -17.367874
3 2020-09-14 14:32:46.111423  DQ24J  DIACK SAO  14.751367 -17.367874
4 2020-09-14 14:32:46.114339  DQ24J  DIACK SAO  14.751367 -17.367874

  date_ouverture
0     2023-12-02
1     2023-12-02
2     2023-12-02
3     2023-12-02
4     2023-12-02

In [14]:
df.head()

,visit_id,product_id,value,created_on,id_point_de_vente,segment,id_produit,nom_produit,marque,date_creation,nom,zone,latitude,longitude,date_ouverture
0,5006509,1,False,2025-05-07 08:43:06.467332,DQ24J,Soda PET PM,1,Jus Pressea Brique Orange 1L x12,Pressea,2020-09-14 14:32:46.099565,DQ24J,DIACK SAO,14.751367,-17.367874,2023-12-02
1,5006509,2,False,2025-05-07 08:43:06.526433,DQ24J,Soda PET PM,2,Jus Pressea Brique Goyave 1L x12,Pressea,2020-09-14 14:32:46.102165,DQ24J,DIACK SAO,14.751367,-17.367874,2023-12-02
2,5006509,3,False,2025-05-07 08:43:06.541754,DQ24J,Soda PET PM,3,Jus Pressea Brique Cocktail 1L x12,Pressea,2020-09-14 14:32:46.104818,DQ24J,DIACK SAO,14.751367,-17.367874,2023-12-02
3,5006509,4,False,2025-05-07 08:43:06.554574,DQ24J,Soda PET PM,4,Jus Pressea Brique Mangue 1L x12,Pressea,2020-09-14 14:32:46.111423,DQ24J,DIACK SAO,14.751367,-17.367874,2023-12-02
4,5006509,5,False,2025-05-07 08:43:06.581863,DQ24J,Soda PET PM,5,Jus Pressea Brique Coco Ananas 1L x12,Pressea,2020-09-14 14:32:46.114339,DQ24J,DIACK SAO,14.751367,-17.367874,2023-12-02

In [15]:
df.rename(columns={'id': 'id_tracking'}, inplace=True)
df.head(1)

,visit_id,product_id,value,created_on,id_point_de_vente,segment,id_produit,nom_produit,marque,date_creation,nom,zone,latitude,longitude,date_ouverture
0,5006509,1,False,2025-05-07 08:43:06.467332,DQ24J,Soda PET PM,1,Jus Pressea Brique Orange 1L x12,Pressea,2020-09-14 14:32:46.099565,DQ24J,DIACK SAO,14.751367,-17.367874,2023-12-02

In [16]:
# df.drop(columns=['id_produit'], inplace=True)
df.rename(columns={'product_id': 'id_produit'}, inplace=True)
df.head(1)

,visit_id,id_produit,value,created_on,id_point_de_vente,segment,id_produit,nom_produit,marque,date_creation,nom,zone,latitude,longitude,date_ouverture
0,5006509,1,False,2025-05-07 08:43:06.467332,DQ24J,Soda PET PM,1,Jus Pressea Brique Orange 1L x12,Pressea,2020-09-14 14:32:46.099565,DQ24J,DIACK SAO,14.751367,-17.367874,2023-12-02

In [17]:
df.head(3)

,visit_id,id_produit,value,created_on,id_point_de_vente,segment,id_produit,nom_produit,marque,date_creation,nom,zone,latitude,longitude,date_ouverture
0,5006509,1,False,2025-05-07 08:43:06.467332,DQ24J,Soda PET PM,1,Jus Pressea Brique Orange 1L x12,Pressea,2020-09-14 14:32:46.099565,DQ24J,DIACK SAO,14.751367,-17.367874,2023-12-02
1,5006509,2,False,2025-05-07 08:43:06.526433,DQ24J,Soda PET PM,2,Jus Pressea Brique Goyave 1L x12,Pressea,2020-09-14 14:32:46.102165,DQ24J,DIACK SAO,14.751367,-17.367874,2023-12-02
2,5006509,3,False,2025-05-07 08:43:06.541754,DQ24J,Soda PET PM,3,Jus Pressea Brique Cocktail 1L x12,Pressea,2020-09-14 14:32:46.104818,DQ24J,DIACK SAO,14.751367,-17.367874,2023-12-02

In [34]:
df.head(2)

,visit_id,product_id,value,created_on,id_point_de_vente,segment,nom_produit,marque,date_creation,nom_point_vente,zone,latitude,longitude,date_ouverture,annee,mois,jour_semaine,semaine
0,5006509,1,False,2025-05-07 08:43:06.467332,DQ24J,Soda PET PM,Jus Pressea Brique Orange 1L x12,Pressea,2020-09-14 14:32:46.099565,DQ24J,DIACK SAO,14.751367,-17.367874,2023-12-02,2025,5,Wednesday,19
1,5006509,2,False,2025-05-07 08:43:06.526433,DQ24J,Soda PET PM,Jus Pressea Brique Goyave 1L x12,Pressea,2020-09-14 14:32:46.102165,DQ24J,DIACK SAO,14.751367,-17.367874,2023-12-02,2025,5,Wednesday,19

[8021:8021:0711/235114.818564:ERROR:gpu/command_buffer/service/shared_image/shared_image_manager.cc:389] SharedImageManager::ProduceSkia: Trying to Produce a Skia representation from a non-existent mailbox.
[8021:8021:0711/235114.823425:ERROR:gpu/command_buffer/service/shared_image/shared_image_manager.cc:389] SharedImageManager::ProduceSkia: Trying to Produce a Skia representation from a non-existent mailbox.
[8021:8021:0711/235114.823984:ERROR:gpu/command_buffer/service/shared_image/shared_image_manager.cc:389] SharedImageManager::ProduceSkia: Trying to Produce a Skia representation from a non-existent mailbox.
[8021:8021:0712/002834.076490:ERROR:gpu/command_buffer/service/shared_image/shared_image_manager.cc:389] SharedImageManager::ProduceSkia: Trying to Produce a Skia representation from a non-existent mailbox.
[8021:8021:0712/002834.079014:ERROR:gpu/command_buffer/service/shared_image/shared_image_manager.cc:389] SharedImageManager::ProduceSkia: Trying to Produce a Skia representation from a non-existent mailbox.
[8021:8021:0712/002834.083704:ERROR:gpu/command_buffer/service/shared_image/shared_image_manager.cc:389] SharedImageManager::ProduceSkia: Trying to Produce a Skia representation from a non-existent mailbox.
[8021:8021:0712/002834.085407:ERROR:gpu/command_buffer/service/shared_image/shared_image_manager.cc:389] SharedImageManager::ProduceSkia: Trying to Produce a Skia representation from a non-existent mailbox.
[7957:7957:0712/011229.592398:ERROR:ui/gfx/x/atom_cache.cc:232] Add chromium/from-privileged to kAtomsToCache
Fontconfig error: Cannot load default config file: No such file: (null)

In [19]:
# Vérifier les manques
df.isnull().sum().sort_values(ascending=False)

longitude            3528
latitude             3528
date_ouverture       3210
zone                 3210
visit_id                0
id_produit              0
value                   0
id_produit              0
segment                 0
id_point_de_vente       0
created_on              0
nom                     0
date_creation           0
marque                  0
nom_produit             0
dtype: int64

In [20]:
df['zone'].fillna("Zone inconnue", inplace=True)

/tmp/ipykernel_6873/2223046866.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['zone'].fillna("Zone inconnue", inplace=True)

In [21]:
#Recast les types pour cohérence
df['id_point_de_vente'] = df['id_point_de_vente'].astype(str)
df['date_ouverture'] = pd.to_datetime(df['date_ouverture'], errors='coerce')

In [22]:
taux_presence_global = df['value'].mean() * 100
print(f"Taux de présence global : {taux_presence_global:.2f} %")

Taux de présence global : 17.37 %

In [23]:
taux_par_segment = df.groupby("segment")["value"].mean().sort_values(ascending=False) * 100
print(taux_par_segment)

segment
CANETTE SODA            40.789822
BOITE JUS FRUIT         25.408474
Soda PET PM             22.972224
SODA PET GM             20.374423
JUS FRUIT PET           19.907975
Tomates                 18.854087
EAU 10L/19L             18.710191
CANETTE JUS DE FRUIT    18.078335
Canette Energie         16.486435
Moutarde                15.380292
LAIT POUDRE PM          15.348488
EAU GM 1,5L             12.399908
LAIT POUDRE GM           8.659894
Mayonnaise               8.504282
EAU PM 33ML              6.344757
Name: value, dtype: float64

In [24]:
taux_par_marque = df.groupby("marque")["value"].mean().sort_values(ascending=False) * 100
print(taux_par_marque)

marque
Laicran    80.952381
Fiona      65.232975
Mis        62.101911
Sara       61.648746
Ybarra     60.573477
             ...
Doré        0.000000
Covinor     0.000000
Ndaa Bi     0.000000
Walo        0.000000
Verger      0.000000
Name: value, Length: 121, dtype: float64

In [25]:
taux_par_zone = df.groupby("zone")["value"].mean().sort_values(ascending=False) * 100
print(taux_par_zone)

zone
MBAO                       31.072555
YOFF                       30.657222
MALICOUNDA                 29.252782
Zone inconnue              24.517134
THIES NORD                 21.029668
MERMOZ/ SACRE -COEUR       20.666898
THIES OUEST                19.373673
WAKHINANE NIMZATT          18.615545
MALICOUNDA                 17.740735
NIAGUIS                    15.698944
DIAMAGUENE/SICAP M''BAO    15.613783
LATMINGUE                  14.677876
DIACK SAO                  14.047646
TOUBA MOSQUEE              12.465592
GANDON                      9.445800
Name: value, dtype: float64

In [26]:
# df['date'] = pd.to_datetime(df['created_on']).dt.date
# evolution = df.groupby("date")["value"].mean()

import plotly.io as pio
pio.renderers.default = 'browser'  # ouvre dans ton navigateur par défaut

# Visualiser avec Plotly
import plotly.express as px
fig = px.line(df['value'], title="Évolution du taux de présence dans le temps", labels={"value": "Taux de présence"})

fig.show()

Gtk-Message: 17:16:48.404: Not loading module "atk-bridge": The functionality is provided by GTK natively. Please try to not load it.
[7957:7957:0711/171649.208121:ERROR:dbus/object_proxy.cc:590] Failed to call method: org.freedesktop.Secret.Service.ReadAlias: object_path= /org/freedesktop/secrets: org.freedesktop.DBus.Error.AccessDenied: An AppArmor policy prevents this sender from sending this message to this recipient; type="method_call", sender=":1.150" (uid=1000 pid=7957 comm="/snap/brave/525/opt/brave.com/brave/brave http://1" label="snap.brave.brave (enforce)") interface="org.freedesktop.Secret.Service" member="ReadAlias" error name="(unset)" requested_reply="0" destination="org.freedesktop.secrets" (uid=1000 pid=3475 comm="/usr/bin/gnome-keyring-daemon --foreground --compo" label="unconfined")
[7957:7957:0711/171649.750642:ERROR:chrome/browser/themes/browser_theme_pack.cc:774] Failed to load theme data pack.

In [27]:
import plotly.express as px

# Moyenne de présence par magasin
carte = df.groupby(['zone', 'latitude', 'longitude'])['value'].mean().reset_index()

px.scatter_mapbox(
carte, 
lat="latitude", 
lon="longitude", 
size="value", 
color="value",
hover_name="zone",
zoom=5,
mapbox_style="carto-positron",
title="Carte des points de vente (taille = taux de présence)"
)

/tmp/ipykernel_6873/1993806650.py:6: DeprecationWarning:

*scatter_mapbox* is deprecated! Use *scatter_map* instead. Learn more at: https://plotly.com/python/mapbox-to-maplibre/

Opening in existing browser session.

[8021:8021:0711/171701.432208:ERROR:ui/gl/gl_surface_presentation_helper.cc:260] GetVSyncParametersIfAvailable() failed for 1 times!